# Group exercise

- Gör explorativ dataanalys
- Gör olika explorativa grafer
- Välj ut en graf och gör storytelling på den

In [36]:
import pandas as pd

df = pd.read_csv("data/influensa.csv", delimiter=";")

In [37]:
df.head()

        Datum      Vårdform         Mått   DATA
0  2015-07-09    Slutenvård        Antal    0.0
1  2015-07-09    Slutenvård  Per 100 000  0.000
2  2015-07-09  Intensivvård        Antal    0.0
3  2015-07-09  Intensivvård  Per 100 000  0.000
4  2015-07-16    Slutenvård        Antal    0.0

In [38]:
df["Datum"]

0       2015-07-09
1       2015-07-09
2       2015-07-09
3       2015-07-09
4       2015-07-16
           ...
2035    2025-04-03
2036    2025-04-10
2037    2025-04-10
2038    2025-04-10
2039    2025-04-10
Name: Datum, Length: 2040, dtype: object

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2040 entries, 0 to 2039
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datum     2040 non-null   object
 1   Vårdform  2040 non-null   object
 2   Mått      2040 non-null   object
 3   DATA      2040 non-null   object
dtypes: object(4)
memory usage: 63.9+ KB

In [40]:
import numpy as np

df["DATA"] = df["DATA"].replace(r'^\.$', np.nan, regex=True).astype(float)
df["DATA"] = pd.to_numeric(df["DATA"], errors= 'coerce')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2040 entries, 0 to 2039
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Datum     2040 non-null   object
 1   Vårdform  2040 non-null   object
 2   Mått      2040 non-null   object
 3   DATA      2036 non-null   float64
dtypes: float64(1), object(3)
memory usage: 63.9+ KB

In [43]:
df_antal = df[df["Mått"] == "Antal"]
df_antal

           Datum      Vårdform   Mått  DATA
0     2015-07-09    Slutenvård  Antal   0.0
2     2015-07-09  Intensivvård  Antal   0.0
4     2015-07-16    Slutenvård  Antal   0.0
6     2015-07-16  Intensivvård  Antal   0.0
8     2015-07-23    Slutenvård  Antal   0.6
...          ...           ...    ...   ...
2030  2025-03-27  Intensivvård  Antal   2.6
2032  2025-04-03    Slutenvård  Antal   NaN
2034  2025-04-03  Intensivvård  Antal   1.7
2036  2025-04-10    Slutenvård  Antal   NaN
2038  2025-04-10  Intensivvård  Antal   1.1

[1020 rows x 4 columns]

In [ ]:
df_antal["Datum"] = pd.to_datetime(df_antal["Datum"])
df_antal["År"] = df_antal["Datum"].dt.year

C:\Users\Marcus\AppData\Local\Temp\ipykernel_20892\3880622632.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_antal["Datum"] = pd.to_datetime(df_antal["Datum"])
C:\Users\Marcus\AppData\Local\Temp\ipykernel_20892\3880622632.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_antal["År"] = df_antal["Datum"].dt.year

In [53]:
df_antal["DATA"] = pd.to_numeric(df_antal["DATA"], errors= 'coerce')
df_antal_årsvis = df_antal[df_antal["Mått"] == "Antal"].groupby("År")["DATA"].sum().round().astype(int).reset_index()

C:\Users\Marcus\AppData\Local\Temp\ipykernel_20892\94120758.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_antal["DATA"] = pd.to_numeric(df_antal["DATA"], errors= 'coerce')

In [56]:
df_antal_årsvis

      År  DATA
0   2015    62
1   2016   684
2   2017   648
3   2018  1144
4   2019   762
5   2020   292
6   2021   252
7   2022   524
8   2023   827
9   2024   654
10  2025   986