# Scraping tables with pandas

In [24]:
import pandas as pd

df_list = pd.read_html("https://en.wikipedia.org/wiki/List_of_largest_Nordic_companies")

len(df_list), type(df_list)

(4, list)

In [25]:
df_list[0]

    0                                                  1
0 NaN  This article needs to be updated. Please help ...

In [26]:
df_rank = df_list[1]

df_rank.head()

,Rank,Company,Headquarters,Industry,Revenue (billion $),Profits (billion $),Assets (billion $),Market value (billion $)
0,01 (41),Equinor,"Stavanger, Norway",Oil and gas,111.6,13.1,127.8,81.4[2]
1,02 (135),Nordea,"Helsinki, Finland",Banking,21.7,3.4,933.8,39.7[3]
2,03 (152),A.P. Møller-Maersk,"Copenhagen, Denmark",Transportation,56.1,2.6,69.8,33.7[4][5]
3,04 (183),Volvo,"Gothenburg, Sweden",Automotive,45.0,2.6,49.7,30.2[6][7]
4,05 (239),Ericsson,"Stockholm, Sweden",Telecommunication,32.9,1.8,19.0,19.4[8][9]

In [27]:
df_country = df_list[2]

df_country

   Country  2008-list  2009-list  2010-list  2011-list  2012-list
0   Sweden         20         22         27         22         25
1  Finland         16         13         11         12         12
2   Norway         14          9         10         10          9
3  Denmark          9         12         13         10         10
4  Iceland          4          0          0          0          0

In [28]:
df_size = df_list[3]

df_size.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            10 non-null     int64
 1   Company         10 non-null     object
 2   Headquarters    10 non-null     object
 3   Industry        10 non-null     object
 4   Employees       10 non-null     int64
 5   Reference date  10 non-null     object
dtypes: int64(2), object(4)
memory usage: 612.0+ bytes

In [29]:
df_rank.to_csv("../data/nordic_company_rankings.csv", index= False)

## Skapa en dashboard med datan

Fritt hur dashboarden ska se ut, men gärna  
- dropdown för att filtrera data
- sliders för att filtrera data
- några KPIer
- någon/några visualiseringar
- ....

Jobba i grupp vi syns igen 14:30

In [30]:
df = pd.read_csv("../data/nordic_company_rankings.csv")
df.head()

,Rank,Company,Headquarters,Industry,Revenue (billion $),Profits (billion $),Assets (billion $),Market value (billion $)
0,01 (41),Equinor,"Stavanger, Norway",Oil and gas,111.6,13.1,127.8,81.4[2]
1,02 (135),Nordea,"Helsinki, Finland",Banking,21.7,3.4,933.8,39.7[3]
2,03 (152),A.P. Møller-Maersk,"Copenhagen, Denmark",Transportation,56.1,2.6,69.8,33.7[4][5]
3,04 (183),Volvo,"Gothenburg, Sweden",Automotive,45.0,2.6,49.7,30.2[6][7]
4,05 (239),Ericsson,"Stockholm, Sweden",Telecommunication,32.9,1.8,19.0,19.4[8][9]

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Rank                      56 non-null     object
 1   Company                   56 non-null     object
 2   Headquarters              56 non-null     object
 3   Industry                  56 non-null     object
 4   Revenue (billion $)       56 non-null     float64
 5   Profits (billion $)       56 non-null     float64
 6   Assets (billion $)        56 non-null     float64
 7   Market value (billion $)  56 non-null     object
dtypes: float64(3), object(5)
memory usage: 3.6+ KB

In [32]:
df[["City", "Country"]] = df["Headquarters"].str.split(", ", expand=True)
df.head()

,Rank,Company,Headquarters,Industry,Revenue (billion $),Profits (billion $),Assets (billion $),Market value (billion $),City,Country
0,01 (41),Equinor,"Stavanger, Norway",Oil and gas,111.6,13.1,127.8,81.4[2],Stavanger,Norway
1,02 (135),Nordea,"Helsinki, Finland",Banking,21.7,3.4,933.8,39.7[3],Helsinki,Finland
2,03 (152),A.P. Møller-Maersk,"Copenhagen, Denmark",Transportation,56.1,2.6,69.8,33.7[4][5],Copenhagen,Denmark
3,04 (183),Volvo,"Gothenburg, Sweden",Automotive,45.0,2.6,49.7,30.2[6][7],Gothenburg,Sweden
4,05 (239),Ericsson,"Stockholm, Sweden",Telecommunication,32.9,1.8,19.0,19.4[8][9],Stockholm,Sweden

In [33]:
df["Market value (billion $)"] = df["Market value (billion $)"].str.extract(r"([\d.]+)").astype(float) # str.extract(r"\[d.]+) Detta söker efter första talet i varje cell, med hjälp av regex
                                                                                                       # [\d.] betyder: matchar siffror (\d) och punkt(.)
                                                                                                       # "+ matchar en eller flera"
                                                                                                       # "() gör det till en fångstgrupp (det är det som .extract()) returnerar"

In [34]:
df.drop("Headquarters", axis= 1, inplace= True)

In [35]:
df[["Nordic", "World"]] = df["Rank"].str.split(expand=True)

df.drop("Rank", axis= 1, inplace= True)

In [36]:

df["Nordic"] = df["Nordic"].astype(int)

In [37]:
df.rename(columns={"Nordic": "Top company in Nordic", "World": "Forbes top 2000 company"}, inplace=True)

In [38]:
df["Forbes top 2000 company"] = df["Forbes top 2000 company"].str.replace(r"[()]", "", regex=True).astype(int) # För att ta bort parantes och lämna kvar värdet

In [39]:
df.reset_index(drop= True)

,Company,Industry,Revenue (billion $),Profits (billion $),Assets (billion $),Market value (billion $),City,Country,Top company in Nordic,Forbes top 2000 company
0,Equinor,Oil and gas,111.6,13.1,127.8,81.4,Stavanger,Norway,1,41
1,Nordea,Banking,21.7,3.4,933.8,39.7,Helsinki,Finland,2,135
2,A.P. Møller-Maersk,Transportation,56.1,2.6,69.8,33.7,Copenhagen,Denmark,3,152
3,Volvo,Automotive,45.0,2.6,49.7,30.2,Gothenburg,Sweden,4,183
4,Ericsson,Telecommunication,32.9,1.8,19.0,19.4,Stockholm,Sweden,5,239
5,DNB,Diversified financial,11.6,2.2,356.1,21.1,Oslo,Norway,6,260
6,SEB,Banking,13.5,1.6,344.5,19.2,Stockholm,Sweden,7,280
7,Handelsbanken,Banking,10.9,1.8,358.0,23.2,Stockholm,Sweden,8,282
8,Telia,Telecommunications,15.1,2.7,35.9,30.0,Stockholm,Sweden,9,294
9,Swedbank,Banking,10.3,1.7,270.8,19.1,Stockholm,Sweden,10,311
10,Telenor,Telecommunication,16.4,1.3,27.8,33.9,Fornebu,Norway,11,353
11,Fortum,Utilities,3.9,0.9,29.7,16.8,Espoo,Finland,12,432
12,Novo Nordisk,Health care,11.6,3.0,10.9,90.3,Copenhagen,Denmark,13,466
13,H&M,Retailing,16.3,2.3,8.7,61.6,Stockholm,Sweden,14,489
14,Danske Bank,Banking,20.0,0.3,597.8,15.8,Copenhagen,Denmark,15,498
15,Sampo Group,Insurance,7.2,1.3,38.3,16.3,Helsinki,Finland,16,503
16,Norsk Hydro,Industrial,16.3,1.1,22.2,11.7,Oslo,Norway,17,504
17,Atlas Copco,Capital goods,13.6,0.8,14.4,19.0,Stockholm,Sweden,18,528
18,Carlsberg Group,Brewery,11.1,0.9,25.6,12.8,Copenhagen,Denmark,19,563
19,Nokia,Technology,50.1,-1.5,44.6,32.8,Espoo,Finland,20,573
20,Yara International,Chemical industry,13.0,2.0,12.1,13.3,Oslo,Norway,21,574
21,Sandvik,Capital goods,13.6,0.8,14.4,19.0,Sandviken,Sweden,22,578
22,Skanska,Construction,17.2,1.1,11.8,7.5,Stockholm,Sweden,23,707
23,UPM-Kymmene,Materials,13.0,0.6,19.3,7.2,Helsinki,Finland,24,765
24,SKF,Manufacturing,9.6,0.9,8.5,11.5,Gothenburg,Sweden,25,845
25,Stora Enso,Manufacturing,14.2,0.4,16.7,6.0,Helsinki,Finland,26,902
26,Svenska Cellulosa Aktiebolaget,Consumer Goods,11.8,0.1,20.2,12.5,Stockholm,Sweden,27,904
27,Kone,Engineering,9.5,1.2,8.4,14.9,Espoo,Finland,28,937
28,Electrolux,Manufacturing,14.7,0.3,10.7,6.8,Stockholm,Sweden,29,1098
29,Assa Abloy,Manufacturing,6.1,0.6,8.1,11.2,Stockholm,Sweden,30,1101
30,Investor,Diversified financials,2.8,-1.3,31.2,17.0,Stockholm,Sweden,32,1131
31,Tele2,Telecommunications,5.9,0.7,6.4,8.6,Stockholm,Sweden,32,1170
32,Metso,Capital goods,8.6,0.5,8.4,7.3,Helsinki,Finland,33,1175
33,Autoliv,Automotive,8.2,0.6,6.1,6.2,Stockholm,Sweden,34,1226
34,Orkla Group,Media,10.2,-0.1,11.1,8.2,Oslo,Norway,35,1254
35,Kinnevik,Investment,1.3,1.0,10.2,6.3,Stockholm,Sweden,36,1297
36,Storebrand,Insurance,5.6,0.1,67.2,2.4,Oslo,Norway,37,1363
37,TDC A/S,Telecommunications,4.6,0.5,11.4,6.0,Copenhagen,Denmark,38,1373
38,OP-Pohjola Group,Financial services,4.9,0.3,53.3,3.7,Helsinki,Finland,39,1376
39,Aker Solutions,Engineering,6.1,0.9,5.6,4.5,Oslo,Norway,40,1388
40,Gjensidige,Insurance,3.6,0.5,14.7,5.9,Oslo,Norway,41,1416
41,L E Lundbergföretagen,Investment,3.3,0.7,12.5,4.2,Stockholm,Sweden,42,1481
42,Alfa Laval,Manufacturing,4.2,0.5,4.8,8.7,Lund,Sweden,43,1488
43,Neste,Oil refining,20.0,0.2,9.4,3.1,Espoo,Finland,44,1495
44,Wärtsilä,Manufacturing,5.6,0.6,5.8,7.2,Helsinki,Finland,45,1506
45,Boliden AB,Mining,5.8,0.5,5.5,4.6,Stockholm,Sweden,46,1619
46,Jyske Bank,Banking,1.6,0.1,47.2,2.4,Silkeborg,Denmark,47,1686
47,Swedish Match,Tobacco,1.7,0.4,2.1,8.1,Stockholm,Sweden,48,1750
48,Hexagon AB,Technology,2.8,0.4,6.8,7.0,Stockholm,Sweden,49,1816
49,Nokian Tyres,Manufacturing,1.9,0.4,2.4,6.4,Nokia,Finland,50,1868
50,Kesko,Retail,12.3,0.2,5.4,3.2,Helsinki,Finland,51,1883
51,Novozymes,Health care,1.8,0.3,2.4,7.9,Copenhagen,Denmark,52,1889
52,Sydbank,Banking,1.0,0.0,26.8,1.4,Aabenraa,Denmark,53,1929
53,Getinge Group,Medical technology,3.2,0.4,6.0,6.6,Getinge,Sweden,54,1935
54,Coloplast,Medical equipment,1.8,0.3,1.6,7.3,Copenhagen,Denmark,55,1937
55,Vestas,Manufacturing,7.6,-0.2,9.6,2.3,Aarhus,Denmark,56,1948

In [40]:
df["Industry"].unique()

array(['Oil and gas', 'Banking', 'Transportation', 'Automotive',
       'Telecommunication', 'Diversified financial', 'Telecommunications',
       'Utilities', 'Health care', 'Retailing', 'Insurance', 'Industrial',
       'Capital goods', 'Brewery', 'Technology', 'Chemical industry',
       'Construction', 'Materials', 'Manufacturing', 'Consumer Goods',
       'Engineering', 'Diversified financials', 'Media', 'Investment',
       'Financial services', 'Oil refining', 'Mining', 'Tobacco',
       'Retail', 'Medical technology', 'Medical equipment'], dtype=object)

In [41]:
def filter_data(df, industry= "Banking", metric= "Revenue (billion $)"):
    filter_ = df[df["Industry"] == industry]
    

    
    return filter_[["Company", "Country", metric]]

filter_data(df, "Technology")

       Company  Country  Revenue (billion $)
19       Nokia  Finland                 50.1
48  Hexagon AB   Sweden                  2.8

In [42]:
import plotly.express as px

def create_bar_chart(df):
    

    
    
    fig = px.bar(df.head(), x= df["Company"].head(), y= df["Revenue (billion $)"].head())
    
    fig
    
    
    
    fig.show()
    
create_bar_chart(df)

In [43]:
df.to_csv("../data/filter_nordic_company_ranking.csv", index= False)

In [ ]:
df.query("Industry == 'Banking'").sort_values(as)

,Company,Industry,Revenue (billion $),Profits (billion $),Assets (billion $),Market value (billion $),City,Country,Top company in Nordic,Forbes top 2000 company
1,Nordea,Banking,21.7,3.4,933.8,39.7,Helsinki,Finland,2,135
6,SEB,Banking,13.5,1.6,344.5,19.2,Stockholm,Sweden,7,280
7,Handelsbanken,Banking,10.9,1.8,358.0,23.2,Stockholm,Sweden,8,282
9,Swedbank,Banking,10.3,1.7,270.8,19.1,Stockholm,Sweden,10,311
14,Danske Bank,Banking,20.0,0.3,597.8,15.8,Copenhagen,Denmark,15,498
46,Jyske Bank,Banking,1.6,0.1,47.2,2.4,Silkeborg,Denmark,47,1686
52,Sydbank,Banking,1.0,0.0,26.8,1.4,Aabenraa,Denmark,53,1929

In [46]:
df_new = pd.read_csv("../data/filter_nordic_company_ranking.csv")

df_new.head()

,Company,Industry,Revenue (billion $),Profits (billion $),Assets (billion $),Market value (billion $),City,Country,Top company in Nordic,Forbes top 2000 company
0,Equinor,Oil and gas,111.6,13.1,127.8,81.4,Stavanger,Norway,1,41
1,Nordea,Banking,21.7,3.4,933.8,39.7,Helsinki,Finland,2,135
2,A.P. Møller-Maersk,Transportation,56.1,2.6,69.8,33.7,Copenhagen,Denmark,3,152
3,Volvo,Automotive,45.0,2.6,49.7,30.2,Gothenburg,Sweden,4,183
4,Ericsson,Telecommunication,32.9,1.8,19.0,19.4,Stockholm,Sweden,5,239

In [47]:
print(df_new.shape)
print(df.head())

(56, 10)
              Company           Industry  Revenue (billion $)  \
0             Equinor        Oil and gas                111.6
1              Nordea            Banking                 21.7
2  A.P. Møller-Maersk     Transportation                 56.1
3               Volvo         Automotive                 45.0
4            Ericsson  Telecommunication                 32.9

   Profits (billion $)  Assets (billion $)  Market value (billion $)  \
0                 13.1               127.8                      81.4
1                  3.4               933.8                      39.7
2                  2.6                69.8                      33.7
3                  2.6                49.7                      30.2
4                  1.8                19.0                      19.4

         City  Country  Top company in Nordic  Forbes top 2000 company
0   Stavanger   Norway                      1                       41
1    Helsinki  Finland                      2                      135
2  Copenhagen  Denmark                      3                      152
3  Gothenburg   Sweden                      4                      183
4   Stockholm   Sweden                      5                      239

In [48]:
print(df_new.columns.tolist())

['Company', 'Industry', 'Revenue (billion $)', 'Profits (billion $)', 'Assets (billion $)', 'Market value (billion $)', 'City', 'Country', 'Top company in Nordic', 'Forbes top 2000 company']