# Price on memory

This visualization comes from [ourworldindata](https://ourworldindata.org/technological-change).

<img src="https://github.com/kokchun/assets/blob/main/data_visualization/historical-cost-of-computer-memory-and-storage.png?raw=true" alt="bar chart and line chart" width="300">

&nbsp; a) Recreate this visualization using plotly, make it as close as possible to the image.

&nbsp; b) Apply storytelling principles to improve this visualization. You can make several variations if you want to tell different stories.

In [2]:
import pandas as pd
import plotly.express as px


df = pd.read_csv("data/historical-cost-of-computer-memory-and-storage.csv")

df.head()

,Entity,Code,Year,Historical price of memory,Historical price of flash memory,Historical price of disk drives,Historical price of solid-state drives
0,World,OWID_WRL,1957,3.786967e+15,NaN,NaN,NaN
1,World,OWID_WRL,1959,6.032806e+14,NaN,6.747736e+10,NaN
2,World,OWID_WRL,1960,4.588051e+13,NaN,3.150364e+10,NaN
3,World,OWID_WRL,1965,2.170492e+13,NaN,NaN,NaN
4,World,OWID_WRL,1970,4.892936e+12,NaN,1.731185e+09,NaN

In [3]:
df.shape

(59, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 7 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Entity                                  59 non-null     object
 1   Code                                    59 non-null     object
 2   Year                                    59 non-null     int64
 3   Historical price of memory              56 non-null     float64
 4   Historical price of flash memory        15 non-null     float64
 5   Historical price of disk drives         54 non-null     float64
 6   Historical price of solid-state drives  11 non-null     float64
dtypes: float64(4), int64(1), object(2)
memory usage: 3.4+ KB

In [5]:
df.columns

Index(['Entity', 'Code', 'Year', 'Historical price of memory',
       'Historical price of flash memory', 'Historical price of disk drives',
       'Historical price of solid-state drives'],
      dtype='object')

In [12]:
df_memory_price = df[["Year", "Historical price of memory","Historical price of flash memory", "Historical price of flash memory", "Historical price of disk drives", "Historical price of solid-state drives"]]

In [13]:
df_memory_price.shape

(59, 6)

In [14]:
df_memory_price.columns

Index(['Year', 'Historical price of memory',
       'Historical price of flash memory', 'Historical price of flash memory',
       'Historical price of disk drives',
       'Historical price of solid-state drives'],
      dtype='object')